<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <xacro:arg name="arm_id" default="panda" />

  <xacro:franka_robot arm_id="$(arg arm_id)" joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}">
  </xacro:franka_robot>

  <xacro:include filename="$(find panda_demo)/urdf/d435i.xacro" />
  <xacro:d435i />

  <joint name="d435i_base_joint" type="fixed">
    <parent link="panda_link0"/>
    <child link="camera_base_link"/>
    <origin xyz="0 0.61 1.2" rpy="0 1.57 1.57" />
  </joint>
 
</robot>
